$clr-primary: #ffca63;
$clr-accent: #ff6584;
$clr-text-dark: #3f3d56;
$clr-text-light: #fff;
$clr-bg-accent: #e6e6e6;

header {
  height: 90vh;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 250px auto;
  grid-template-areas:
    "logo illustration"
    "text illustration";

  .logo {
    width: 400px;
    grid-area: logo;
    align-self: center;
  }
  .hero-text {
    grid-area: text;
    align-self: start;

    h1 {
      line-height: 0.9;
    }

    .btn {
      margin: 30px 0;
      padding: 20px 50px;
      font-size: 1rem;
      font-weight: 200;
    }
  }
  #hero-illustration {
    grid-area: illustration;
    align-self: center;
  }
  .signup-circle {
    grid-area: signup;
    width: 100px;
    align-self: center;
    justify-self: end;
  }
}

.main-nav {
  display: inline-flex;
  width: 100%;
  background-color: $clr-bg-accent;
}

.intro {
  height: 500px;
  display: flex;
  text-align: center;
  align-items: center;
  h6 {
    font-weight: 300;
    span {
      font-weight: 800;
      font-style: italic;
    }
  }
}

.divider-text {
  display: flex;

  .underline-pretext {
    width: 100%;

    border-bottom: 1px solid #b8b8b8;
  }
  img {
    width: 500px;
  }
  h3 {
    font-weight: 800;
  }
}
.courses-section {
  display: grid;
  flex-direction: column;
  justify-content: center;

  .courses-container {
    display: grid;
    grid-gap: 30px 30px;
    grid-template-columns: 350px 350px 350px;
    .test {
      height: 250px;
      border-radius: 5px;
      background-color: $clr-text-dark;
    }
  }
  .btn-container {
    margin: 20px 0;
    justify-content: center;
  }
}

.what-section {
  .what-item-container {
    // max-width: 500px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    img {
      width: 300px;
    }
    .text-container {
      max-width: 800px;
      .what-title {
        position: relative;
      }
      .what-title::after {
        position: absolute;
        content: "";
        background-color: $clr-accent;
        width: 20%;
        height: 7px;
        bottom: -8px;
        left: 0;
      }
      p {
        margin-top: 50px;
      }
    }
  }
  .what-item-container:last-child {
    margin-bottom: 0;
  }
  .flex-reverse {
    flex-direction: row-reverse;
  }
}

.about-section {
  display: flex;
  justify-content: space-evenly;

  .abt-img-container {
    border: 1px solid $clr-bg-accent;
    max-width: 350px;

    img {
      transform: translate(20px, 20px);
    }
  }
  .abt-txt-container {
    width: 500px;
    height: 300px;
    padding: 20px;
    align-self: center;
    border: 1px solid $clr-bg-accent;
    border-left: none;
    display: flex;
    align-items: center;
  }
}

.divider-test {
  display: inline-block;

  .underline-pretext {
    width: 100%;

    border-bottom: 1px solid #b8b8b8;
  }
  img {
    width: 500px;
  }
  h3 {
    font-weight: 800;
  }
}
