.circle {
  border-radius: 50%;
}

.yellow {
  background-color: #ffca63;
}

header {
  height: 90vmin;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
  -ms-grid-rows: 250px auto;
      grid-template-rows: 250px auto;
      grid-template-areas: "logo illustration" "text illustration";
}

header .logo {
  width: 400px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .hero-text {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: text;
  -ms-flex-item-align: start;
      align-self: start;
}

header .hero-text h1 {
  line-height: 0.9;
}

header .hero-text .btn {
  margin: 30px 0;
  padding: 20px 50px;
  font-size: 1rem;
  font-weight: 200;
}

header #hero-illustration {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: illustration;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-nav {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  background-color: #e6e6e6;
}

.main-nav li a {
  font-weight: 400;
}

.intro {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.intro #intro-text {
  position: relative;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;
}

.intro #intro-text span {
  font-weight: 800;
  font-style: italic;
}

.intro #intro-text ::before {
  position: absolute;
  z-index: -1;
  top: -45px;
  left: -40px;
  content: "";
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: #ff6584;
}

.intro .circle {
  position: absolute;
  bottom: 0;
  right: 20%;
  height: 40px;
  width: 40px;
}

.sec-title-container {
  position: relative;
  margin-bottom: 100px;
  padding: 10px;
}

.sec-title-container .title {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
}

.sec-title-container .title span {
  font-size: 0.5rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  letter-spacing: 0.05rem;
  margin-right: 10px;
  color: #ff6584;
}

.sec-title-container .title-back-text {
  text-transform: uppercase;
  color: #3f3d5629;
  line-height: 100%;
  display: inline-block;
  letter-spacing: 0.2rem;
  font-size: 9vw;
}

.courses-sec {
  margin: 20px auto;
}

.courses-sec .courses-con {
  position: relative;
}

.courses-sec .courses-con #courses-svg {
  position: absolute;
  top: -100px;
  left: -8vw;
  stroke: #e6e6e6;
}

.courses-sec .courses-con #courses-svg .line {
  stroke: #cfcfcf;
  fill: none;
}

.courses-sec .courses-con #courses-svg .l1 {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.courses-sec .courses-con #courses-svg .l2 {
  -webkit-transform: translateX(8vw);
          transform: translateX(8vw);
}

.courses-sec .courses-con #courses-tiles {
  width: 100%;
  max-width: 950px;
  margin: 100px auto;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.courses-sec .courses-con #courses-tiles .course-tile {
  height: 200px;
  width: 100%;
  max-width: 300px;
  background-color: #3f3d56;
  border-radius: 5px;
  margin: 7px;
}

.courses-sec .courses-con .btn-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what-section .what-item-container {
  margin-bottom: 100px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what-section .what-item-container img {
  width: 300px;
}

.what-section .what-item-container .text-container {
  max-width: 800px;
}

.what-section .what-item-container .text-container .what-title {
  position: relative;
}

.what-section .what-item-container .text-container .what-title::after {
  position: absolute;
  content: "";
  background-color: #ff6584;
  width: 20%;
  height: 7px;
  bottom: -8px;
  left: 0;
}

.what-section .what-item-container .text-container p {
  margin-top: 50px;
}

.what-section .what-item-container:last-child {
  margin-bottom: 0;
}

.what-section .flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about-section .about-container {
  background-color: #e6e6e6;
  width: 60%;
  position: relative;
  margin: 0;
  z-index: -2;
}

.about-section .about-container #about-svg {
  position: absolute;
  top: -345px;
  stroke: #3f3d5629;
  stroke-width: 2px;
}

.about-section .about-container .about-text {
  position: relative;
  margin: 100px 0px;
  border: 1px solid #3f3d5629;
  border-right: none;
  padding: 40px;
}

.about-section .about-container .about-text h3 {
  text-transform: uppercase;
}

.about-section .about-container .about-text h6 {
  margin-bottom: 50px;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.about-section .about-container .about-text p {
  margin-bottom: 20px;
  font-size: 0.95rem;
  letter-spacing: 0.02rem;
}

.about-section .about-container .about-text:before {
  position: absolute;
  z-index: -1;
  top: -45px;
  left: -130px;
  content: "";
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #ff6584;
}

.about-section .about-container .circle {
  position: absolute;
  width: 40px;
  height: 40px;
  right: -130px;
  top: 150px;
}

.about-section .about-container .abt-img-container {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  right: -150px;
  border: 1px solid #3f3d5629;
}

.about-section .about-container .abt-img-container img {
  width: 300px;
  -webkit-transform: translate(-20px, 20px);
          transform: translate(-20px, 20px);
}

.testimonials-section .t-container {
  max-width: 800px;
  margin: 150px auto;
}

.testimonials-section .t-container .t-slide {
  display: -ms-grid;
  display: grid;
  position: relative;
      grid-template-areas: "pic stars" "pic text";
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.testimonials-section .t-container .t-slide .t-user-pic {
  height: 100px;
  width: 100px;
  background: url("../img/anju-profile.jpg") no-repeat;
  background-size: cover;
  border-radius: 50%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: pic;
}

.testimonials-section .t-container .t-slide .t-text {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: text;
}

.testimonials-section .t-container .t-slide .t-stars {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: stars;
  margin-left: 100px;
}

.testimonials-section .t-container .t-slide .t-stars svg {
  height: 18px;
}

.testimonials-section .t-container .t-slide .t-stars .star {
  display: block;
  height: 18px;
  width: 18px;
}

.testimonials-section .t-container .t-slide .t-stars .filled {
  fill: #ffca63;
}

.testimonials-section .t-container .t-slide .t-stars .empty {
  fill: #fdf1ca;
}

.testimonials-section .t-container .t-slide .t-counter {
  color: #3f3d5629;
  position: absolute;
  font-size: 10rem;
  z-index: -1;
  font-style: italic;
  top: -50px;
  left: 15%;
}

.testimonials-section .t-container .slider-nav {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials-section .t-container .slider-nav .t-nav {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #3f3d56;
  margin: 5px;
  cursor: pointer;
}

.testimonials-section .t-container .slider-nav .filled {
  background-color: #ff6584;
}
/*# sourceMappingURL=home-2.css.map */