.header-bg {
  background: url("../assets/svg/bg-stripe.svg") no-repeat;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: right;
}

header {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% auto;
      grid-template-columns: 40% auto;
  -ms-grid-rows: 250px auto 70px;
      grid-template-rows: 250px auto 70px;
      grid-template-areas: "logo illustration" "text illustration" "mainnav mainnav";
}

header .logo {
  width: 400px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .hero-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

header .hero-text h1 {
  line-height: 0.9;
}

header .hero-text .btn {
  margin: 30px 0;
  padding: 20px 50px;
  font-size: 1rem;
  font-weight: 200;
}

header #hero-illustration {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: illustration;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .signup-circle {
  grid-area: signup;
  width: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

header .main-nav {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: mainnav;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.intro {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro h6 {
  font-weight: 300;
}

.intro h6 span {
  font-weight: 800;
  font-style: italic;
}

.divider-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.divider-text .underline-pretext {
  width: 100%;
  border-bottom: 1px solid #b8b8b8;
}

.divider-text img {
  width: 500px;
}

.divider-text h3 {
  font-weight: 800;
}

.courses-section {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.courses-section .courses-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px 30px;
  -ms-grid-columns: 350px 350px 350px;
      grid-template-columns: 350px 350px 350px;
}

.courses-section .courses-container .test {
  height: 250px;
  border-radius: 5px;
  background-color: #3f3d56;
}

.courses-section .btn-container {
  margin: 20px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what-section .what-item-container {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.what-section .what-item-container img {
  width: 300px;
}

.what-section .what-item-container .text-container {
  max-width: 800px;
}

.what-section .what-item-container .text-container .what-title {
  position: relative;
}

.what-section .what-item-container .text-container .what-title::after {
  position: absolute;
  content: "";
  background-color: #ff6584;
  width: 20%;
  height: 7px;
  bottom: -8px;
  left: 0;
}

.what-section .what-item-container .text-container p {
  margin-top: 50px;
}

.what-section .what-item-container:last-child {
  margin-bottom: 0;
}

.what-section .flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about-section .abt-img-container {
  border: 1px solid #e6e6e6;
  max-width: 350px;
}

.about-section .abt-img-container img {
  -webkit-transform: translate(20px, 20px);
          transform: translate(20px, 20px);
}

.about-section .abt-txt-container {
  width: 500px;
  height: 300px;
  padding: 20px;
  -ms-flex-item-align: center;
      align-self: center;
  border: 1px solid #e6e6e6;
  border-left: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.divider-test {
  display: inline-block;
}

.divider-test .underline-pretext {
  width: 100%;
  border-bottom: 1px solid #b8b8b8;
}

.divider-test img {
  width: 500px;
}

.divider-test h3 {
  font-weight: 800;
}
/*# sourceMappingURL=home.css.map */