.circle {
  border-radius: 50%;
}

.yellow {
  background-color: #ffca63;
}

header {
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
  -ms-grid-rows: 250px auto;
      grid-template-rows: 250px auto;
      grid-template-areas: "logo illustration" "text illustration";
}

header .logo {
  width: 400px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .hero-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

header .hero-text h1 {
  line-height: 0.9;
  font-size: 3rem;
}

header .hero-text .btn {
  margin: 30px 0;
  padding: 20px 50px;
  font-size: 1rem;
  font-weight: 200;
}

header #hero-illustration {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: illustration;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .signup-circle {
  grid-area: signup;
  width: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

.main-nav {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  background-color: #e6e6e6;
}

.main-nav li a {
  font-weight: 400;
}

.intro {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.intro #intro-text {
  position: relative;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;
}

.intro #intro-text span {
  font-weight: 800;
  font-style: italic;
}

.intro #intro-text ::before {
  position: absolute;
  z-index: -1;
  top: -45px;
  left: -40px;
  content: "";
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: #ff6584;
}

.intro .circle {
  position: absolute;
  bottom: 0;
  right: 20%;
  height: 40px;
  width: 40px;
}

.divider-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.divider-text .underline-pretext {
  width: 100%;
  border-bottom: 1px solid #b8b8b8;
}

.divider-text img {
  width: 500px;
}

.divider-text h3 {
  font-weight: 800;
}

.sec-title-container {
  position: relative;
}

.sec-title-container .title {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 1.8rem;
}

.sec-title-container .title span {
  font-size: .5rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  letter-spacing: .05rem;
  margin-right: 10px;
  color: #ff6584;
}

.sec-title-container .title-back-text {
  text-transform: uppercase;
  color: #f1f1f1;
  color: #3f3d5629;
  line-height: 4.5rem;
  display: inline-block;
  letter-spacing: .2rem;
  font-size: 6rem;
}

.courses-sec {
  margin: 20px auto;
}

.courses-sec .courses-con {
  position: relative;
  padding: 20px;
}

.courses-sec .courses-con #courses-svg {
  position: absolute;
  top: -100px;
  left: -8vw;
  stroke: #e6e6e6;
}

.courses-sec .courses-con #courses-svg .line {
  stroke: #cfcfcf;
  fill: none;
}

.courses-sec .courses-con #courses-svg .l1 {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.courses-sec .courses-con #courses-svg .l2 {
  -webkit-transform: translateX(8vw);
          transform: translateX(8vw);
}

.courses-sec .courses-con #courses-tiles {
  width: 100%;
  margin: 100px auto;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.courses-sec .courses-con #courses-tiles .course-tile {
  height: 200px;
  width: 100%;
  max-width: 300px;
  background-color: #3f3d56;
  border-radius: 5px;
  margin: 7px;
}

.courses-sec .courses-con .btn-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what-section .what-item-container {
  margin-bottom: 100px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.what-section .what-item-container img {
  width: 300px;
}

.what-section .what-item-container .text-container {
  max-width: 800px;
}

.what-section .what-item-container .text-container .what-title {
  position: relative;
}

.what-section .what-item-container .text-container .what-title::after {
  position: absolute;
  content: "";
  background-color: #ff6584;
  width: 20%;
  height: 7px;
  bottom: -8px;
  left: 0;
}

.what-section .what-item-container .text-container p {
  margin-top: 50px;
}

.what-section .what-item-container:last-child {
  margin-bottom: 0;
}

.what-section .flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about-section {
  background-color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about-section .about-container {
  background-color: blue;
  width: 70%;
}

.about-section .about-container .about-text {
  position: relative;
}

.about-section .about-container .about-text ::before {
  position: absolute;
  z-index: -1;
  top: -45px;
  left: -40px;
  content: "";
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: #ff6584;
}
/*# sourceMappingURL=home-2.css.map */