@import "./config.scss";

$sb-width: 300px;
$sb-collapsed-width: 100px;

.sidebar {
  height: 100%;
  width: $sb-width;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $clr-text-darker;
  transition: 0.5s;
  overflow-x: hidden;
  padding: 60px 0;
  white-space: nowrap;
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .logo-container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    .logo {
      width: 70%;
      transition: 0.2s;
    }
  }

  .main-menu {
    width: 80%;
    transition: 0.2s;
    li {
      svg {
        transform: scale(1.2);
      }
      a {
        display: block;
        padding: 15px 20px;
        font-size: 1.3rem;
        // letter-spacing: 0.2rem;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
        // text-transform: uppercase;
        &:hover {
          background-color: $clr-text-dark;
        }
        .menu-text {
          margin-left: 20px;
        }
      }
    }
  }
}
.collapsed-sidebar {
  width: $sb-collapsed-width;
}
.collapsed-main {
  margin-left: $sb-collapsed-width;
}
#sb-toggle-btn svg {
  transition: 0.5s;
}
.turn {
  transform: rotate3d(1, 1, 17, 180deg);
}

// Main

main {
  margin-left: $sb-width;
  transition: margin-left 0.5s;
  padding: 70px;
  .header {
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
    .h-subtext {
      letter-spacing: 0.1rem;
      color: darken($clr-bg-accent, 20%);
      &::before {
        content: "";
        height: 1rem;
        width: 50px;
        margin-right: 5px;
        border-bottom: 1px solid;
        display: inline-block;
      }
    }
    .h-title {
      position: relative;
      margin-top: 5px;
      &::after {
        position: absolute;
        bottom: 0px;
        right: -10px;
        z-index: -1;
        content: "";
        height: 25px;
        width: 90%;
        background-color: $clr-text-darker;
      }
    }
  }
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.v-continue {
  .video-pretext {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: $clr-text-light2;
  }
  .v-details {
    margin-top: 20px;
    p {
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      font-size: 0.8rem;
      color: $clr-text-light2;
    }
  }
}
.c-current {
  margin-left: 150px;
  width: 80%;
  max-width: 500px;
  hr {
    margin-bottom: 40px;
  }
  .c-wrapper {
    margin: 40px 0;
    .c-title {
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      margin-bottom: 10px;
    }
  }
}

.popular-section {
  margin: 150px 0;

  hr {
    width: 30%;
  }
  .p-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    .pc-tile {
      margin: 10px;
    }
  }
}
